* {
  margin: 0;
}

body {
  /* background-color: #7e85a19f; */
  background-color: rgba(180, 118, 238, 0.562);
}

.app {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #f5f6fa; */
  padding: 20px;
}

.app__dropdown {
  background-color:rgba(156, 84, 223, 0.562);
  
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: space-between;
}
.app__left > h5 {
  margin: -10px 20px 20px 5px;
  color: rgb(24, 77, 24);
}
.app__header > h1 {
  color: rgb(243, 16, 0);
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  /* background: brown; */
  font-size: 0.2rem !important;
}

.app__left {
  flex: 0.9;

}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .MuiTypography-body1{
    font-size: 0.7rem !important;
    color: gold !important;
    font-weight: 800 !important;

  
  }
  .MuiCard-root{
    background-color: rgb(170, 87, 170) !important;
    font-weight: 30px !important;
    /* color: black !important; */
  }
  
  .app__information > h3 {
    font-size: 1.2rem;
    color: black;
  }
  .app__left > h5 {
    margin: 5px 20px 20px 5px;
    color: rgb(24, 77, 24);
  }
  .app__dropdown{  
   margin: 10px;
   
  }
  .app__header > h1 {
    color: #fc3c3c;
    font-size: 1.5rem;
  }
  .app__right{
    margin-top: 20px;
    
  }
  
}
